{% extends "base.html" %}

{% block title %}
About - MindSphere
{% endblock %}

{% block content %}

<!-- AboutUs start -->
<section id="about-us" class="py-5 mt-2">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">About Us</h1>
        <p class="lead mb-5 text-secondary text-center">
            <i>Discover Our Journey, Values, and Commitment to Excellence</i>
        </p>
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="image-container">
                    <img src="/static/images/gedung.jpg" class="rounded-3" alt="NusaHealth" loading="lazy">
                </div>
            </div>
            <div class="col-lg-6">
                <p class="mt-3 text-justify">
                    We are <span class="text-primary fw-bold">MindSphere</span>, a leader in <span
                        class="text-primary fw-bold">psychological</span> assessments and mental health services,
                    dedicated to providing individuals and organizations with accurate and reliable psychological
                    insights. Founded in 2024, our mission is to empower individuals by offering personalized mental
                    health assessments that foster a deeper understanding of emotional well-being.
                </p>
                <p class="mt-3 text-justify">
                    Our services cater to a wide range of needs, from mental health screenings to tailored psychological
                    tests, all backed by <span class="text-primary fw-bold">cutting-edge technology</span>. We partner
                    with professionals and organizations across various sectors to offer customized solutions that align
                    with industry standards and promote overall mental wellness.
                </p>
                <p class="mt-3 text-justify">
                    At MindSphere, we believe in the power of early detection and proactive mental health management.
                    Our goal is to support individuals in their journey towards self-awareness and long-term emotional
                    <span class="text-primary fw-bold">well-being</span>, enabling them to thrive in both personal and
                    professional settings.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- AboutUs end -->

<!-- Vision, Mission, Logo, and Philosophy Section start -->
<section id="vision-mission-logo-philosophy" class="py-5">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <!-- Vision -->
            <div id="vision" class="col-lg-6 col-md-6 col-12 bg-vision text-white d-flex align-items-center justify-content-center order-1 order-lg-1"
                style="background-color: #036168; aspect-ratio: 1;">
                <div class="p-5 text-center">
                    <h1 class="fw-bold">Vision</h1>
                    <p class="mt-3 text-justify">To be the leading platform in psychological assessments, empowering
                        individuals and organizations to understand and optimize their mental well-being.</p>
                </div>
            </div>
            <!-- Logo -->
            <div class="col-lg-6 col-md-6 col-12 bg-light d-flex align-items-center justify-content-center order-3 order-lg-3"
                style="aspect-ratio: 1;">
                <img src="/static/images/LogoPrimary.png" alt="Company Logo" class="img-fluid"
                    style="max-height: 80%; max-width: 80%;">
            </div>
            <!-- Mission -->
            <div id="mission" class="col-lg-6 col-md-6 col-12 bg-mission text-white d-flex align-items-center justify-content-center order-2 order-lg-2"
                style="background-color: #66aeac; aspect-ratio: 1;">
                <div class="p-5 text-center">
                    <h1 class="fw-bold">Mission</h1>
                    <ul type="1" class="mt-2 text-justify">
                        <li>Provide accessible, accurate, and personalized psychulogical testing.</li>
                        <li>Support individuals and organizations in building healthier environments.</li>
                        <li>Encourage proactive mental health management.</li>
                    </ul>
                </div>
            </div>
            <!-- Philosophy -->
            <div id="philosophy" class="col-lg-6 col-md-6 col-12 bg-philosophy text-white d-flex align-items-center justify-content-center order-4 order-lg-4"
                style="background-color: #036168; aspect-ratio: 1;">
                <div class="p-5 text-center">
                    <h1 class="fw-bold">Logo Philosophy</h1>
                    <ul type="1" class="mt-2 text-justify">
                        <li>The <strong>circle</strong> symbolizes completeness, balance, and continuity. In the context of psychology,
                            it represents a holistic approach that encompasses all aspects of mental, emotional, and
                            social well-being for clients.</li>
                        <li>The <strong>profile face</strong> represents attention to the individual. The emphasis on the brain
                            highlights a focus on mental health, thought patterns, and cognitive abilities. This shows
                            that your company aims to deeply understand the human mind and provide evidence-based
                            solutions.</li>
                        <li>The <strong>lines</strong> depict data, structure, or modern technology. This could represent an
                            evidence-based approach in psychology practice, as well as the ability to adapt to the
                            digital age.</li>
                        <li>The <strong>teal color</strong> represents tranquility, peace, and stability. It gives a professional yet
                            friendly impression, aligning with the role of psychologists in creating a safe space for
                            clients.</li>
                        <li>The combination of the two sides in the logo reflects a balance between rational thinking
                            (logic) and emotional aspects. This philosophy illustrates the balanced approach used in
                            providing psychological services to clients. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vision, Mission, Logo, and Philosophy Section end -->


<!-- Solutions start -->
<section id="solutions" class="py-5 mt-2">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">Solutions</h1>
        <p class="lead mb-5 text-secondary text-center"><i>Why You Should Choose MindSphere?</i></p>
        <div class="d-flex flex-wrap justify-content-center gap-5">
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-1">
                    <i class="fa-duotone fa-solid fa-user-tie" style="font-size: 50px; color: #036168;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Professionals</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Skilled and experienced team of psychologist experts.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-1">
                    <i class="fa-solid fa-microchip" style="font-size: 50px; color: #036168;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Cutting-Edge Technology
                    </h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Advanced tools for precise psychological assessments.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-1">
                    <i class="fa-solid fa-users" style="font-size: 50px; color: #036168;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Customer-Centered</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Dedicated to personalized, quality care.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Solutions end -->

{% endblock %}