{% extends 'base.html' %}

{% block title %}Home - MindSphere{% endblock %}

{% block content %}

<!-- Hero start -->
<section id="hero" class="container hero-bg">
    <div class="hero-content">
        <h1 class="fw-bold mb-1">
            <span>Empowering Minds Shaping Futures </span>
        </h1>
        <p>
            <i>Unlock your true potential with MindSphere</i>
        </p>
        <p class="lead mb-1 text-justify">
            MindSphere is an innovative platform that combines expert psychological assessments with advanced testing techniques to offer deep insights into mental and emotional well-being.
        </p>
    </div>
</section>




<!-- Hero end -->



<!-- Sevices start -->
<section id="services" class="py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">Our Services</h1>
        <p class="lead mb-5 text-secondary text-center"><i>Psychological testing services provided by MindSphere</i></p>
        <div class="d-flex flex-wrap justify-content-center gap-5">
            <div class="card" style="width: 20rem; box-shadow: #00000059 0px 5px 15px; border-radius: 10px; overflow: hidden;">
                <img src="static/images/daftar.jpg" class="card-img-top" alt="MCU Registration">
                <div class="service-overlay"></div>
                <a href="{% url 'schedule-list' %}" class="btn px-4 btn-light btn-services fw-bold rounded-2" style="color: #036168;">Book Now</a>
                <div class="card-body card-services rounded-bottom bg-light text-dark p-0">
                    <h5 class="card-title bg-primary p-2 text-light gap-2 fw-bold d-flex align-items-center" style="font-size: 16px;"> 
                        <span>
                            <svg class="text-light arrow-services" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" /></svg>
                        </span> Register Your Psychological Test
                    </h5>
                    <p class="card-text text-secondary px-3 pb-2 text-truncate-4 text-justify">Easily register for psychological assessments at your convenience. Choose from a variety of tests tailored to your needs.</p>
                </div>
            </div>
                        <div class="card" style="width: 20rem; box-shadow: #00000059 0px 5px 15px; border-radius: 10px; overflow: hidden;">
                <img src="static/images/pemeriksaan.jpg" class="card-img-top" alt="MCU Activity">
                <div class="service-overlay"></div>
                <a href="{% url 'schedule-list' %}" class="btn px-4 btn-light btn-services fw-bold rounded-2" style="color: #036168;">Book Now</a>
                <div class="card-body card-services rounded-bottom bg-light text-dark p-0">
                    <h5 class="card-title bg-primary p-2 text-light gap-2 fw-bold d-flex align-items-center" style="font-size: 16px;"> 
                        <span>
                            <svg class="text-light arrow-services" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" /></svg>
                        </span> Psychological Assessments
                    </h5>
                    <p class="card-text text-secondary px-3 pb-2 text-truncate-4 text-justify">Take a comprehensive assessment designed to provide valuable insights into your mental health and emotional well-being.</p>
                </div>
            </div>
                        <div class="card" style="width: 20rem; box-shadow: #00000059 0px 5px 15px; border-radius: 10px; overflow: hidden;">
                <img src="static/images/certificate.jpg" class="card-img-top" alt="MCU Certificate">
                <div class="service-overlay"></div>
                <a href="{% url 'schedule-list' %}" class="btn px-4 btn-light btn-services fw-bold rounded-2" style="color: #036168;">Book Now</a>
                <div class="card-body card-services rounded-bottom bg-light text-dark p-0">
                    <h5 class="card-title bg-primary p-2 text-light gap-2 fw-bold d-flex align-items-center" style="font-size: 16px;"> 
                        <span>
                            <svg class="text-light arrow-services" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M9 5l7 7-7 7" /></svg>
                        </span> Generate Your Result
                    </h5>
                    <p class="card-text text-secondary px-3 pb-2 text-truncate-4 text-justify">Receive detailed, personalized results with actionable recommendations to guide your mental health.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sevices end -->

{% endblock %}